<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WordMean</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:700|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    
</head>
  <body dark-mode="false">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-5">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link logo text-primary" href="/">WordMean</a>
            </li>                
          </ul>
          <form method="POST" action="/" class="form-inline row my-2 my-lg-0">
            <input name="word" class="form-control tb pl-3 col-10" type="search" placeholder="type here.." aria-label="Search">
            <button class="btn bt btn-primary col-2" type="submit"><i class="fas fa-search"></i></button>
          </form>
          
        </div>
        <button class="btn btn-outline-primary ml-md-5" id="btn-dark-toggle" onclick="darkMode()">Go Dark!</button>
        
      </nav>
    <div class="container p-5">
    <% if(infos.empty){ %>
        <div class="error">
            <i class="fas fa-10x fa-sad-tear "></i>
            <h1>Sorry! No Results Found For This Word..</h1>     
        </div>
    <% } else { %>

    <% infos.forEach(function(info){ %> 
        <div class="card m-md-4 my-5">
            <% if(info.domain != "nothing"){ %>
                <div class="card-header">
                    <h4 class="card-title">  <%= info.domain %> </h4>
                </div>    
            <% } %>
            <div class="card-body p-4">
                
                <% if(info.type != "nothing"){ %>
                    <h4 class="card-title">Type</h4>
                    <p class="card-text"><%= info.type %></p>
                    <!-- <h1><%= info.meaning %></h1> -->
                <% } %>
                <% if(info.meaning != "nothing"){ %>
                    <h4 class="card-title">Meaning</h4>
                    <p class="card-text"><%= info.meaning %></p>
                    <!-- <h1><%= info.meaning %></h1> -->
                <% } %>    
                <% if(info.example != "nothing"){ %>
                    <h4 class="card-title">Example</h4>
                    <p class="card-text"><%= info.example %></p>
                    <!-- <h1><%= info.meaning %></h1> -->
                <% } %>  
                <% if(info.pronunciation != "nothing"){ %>
                    <h4 class="card-title">pronunciation</h4>
                    <div class="embed-responsive">
                        <audio class="embed-responsive"  controls>
                            <source  src="<%= info.pronunciation %>" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                    </div>
                    <!-- <audio id="player" src="<%= info.pronunciation %>"></audio>
                    <div>
                        <button onclick="document.getElementById('player').play()"><i class="fas fa-play"></i></button>
                        <button onclick="document.getElementById('player').pause()"><i class="fas fa-pause "></i></button>
                        <button onclick="document.getElementById('player').muted=!document.getElementById('player').muted"><i class="fas fa-volume-mute"></i></button>
                    </div> -->
                    
                    <!-- <p class="card-text"><%= info.pronunciation %></p> -->
                    <!-- <h1><%= info.meaning %></h1> -->
                <% } %>
                   
                  
            </div>
        </div>

    <%}); %>
    <% } %>

    </div>
    <footer class="result-footer">
        <p class=" text-muted">Made with <i class="fas fa-heart"></i> and Tea by Rajesh Jangid</p>
    </footer mb-3>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>

